<html xmlns:th="https://www.thymeleaf.org" lang="en" style="margin: 0;height: 100%;">
<head>
    <meta charSet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro&amp;family=Nunito&amp;family=Roboto&amp;display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
</head>

<body class="containerBody" onLoad="init()" style="margin: 0;height: 100%;">
<div id="cover" style="display: none;filter:blur(15px)">

</div>
<div id="mainContent" class="container">
    <div id="topBar" style="border-bottom: 1px solid #FF0035;">
        <div><h1 style="letter-spacing: 5px;">Playlist<span style="color: #FF0035;">r</span></h1></div>
        <div style="font-size: 25px; " class="alignItemsCenter" th:if="${profile != null}">
            <div style="margin-right:15px;font-family: Advent Pro;">
                <h3 th:text="${profile.displayName}"></h3>
            </div>
            <img class="profileImage"
                 th:src="${profile.images[0].url}"
                 alt="" style="height: 45px;">
        </div>
        <div th:if="${profile == null}">
            <a href="/authorize">Authorize Account</a>
        </div>
    </div>
    <div id="leftBar">
        <h2>Library</h2>
        <div>
            <div class="listPart">
                <div class="alignItemsCenter flexApart listItem">
                    <h3>All Songs</h3>
                    <img class="icon inverted"
                         src="images/caret-down.svg" alt="">
                </div>
            </div>

            <div class="listPart">
                <div class="alignItemsCenter flexApart listItem">
                    <h3>Liked Songs</h3>
                    <img class="icon inverted"
                         src="images/caret-down.svg" alt="">
                </div>
            </div>

            <div class="listPart">
                <div class="alignItemsCenter flexApart listItem">
                    <h3>Managed Playlists</h3>
                    <img class="icon inverted"
                         src="images/caret-down.svg" alt="">
                </div>
                <div class="listContent none">
                    <div><h4>Certified Bops</h4></div>
                    <div><h4>adtr</h4></div>
                </div>
            </div>

            <div class="listPart">
                <div class="listItem alignItemsCenter flexApart">
                    <h3>Your Playlists</h3>
                    <img class="icon inverted"
                         src="images/caret-down.svg" alt="">
                </div>

                <div class="listContent none">
                    <div><h4>S tier</h4></div>
                    <div><h4>Bop Punk</h4></div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainBody" style="text-align: center;">
        <div style="display: flex;flex-direction: column; align-items: center;width:40%;margin:8% auto 2% auto;position: relative;">
            <div style="display: flex;align-items: center;width: 100%">
                <div style="display: flex; align-items: center;border: 3px solid var(--font-color);border-radius: 25px;height: 40px;width: 100%;background-color: inherit;color: inherit;font-size:large;padding-left: 15px;">
                    <input th:attr="data-model=${tagJson}" autoComplete="off" id="search" type="text">
                    <img class="icon inverted" src="images/search.svg" alt="">
                </div>
                <img id="createTag" title="Create Tag" class="greenFilter icon click" src="images/plus-circle.svg" alt="">
            </div>

            <div style="display: flex;gap: 5px;align-items: center;" id="tagDisplay">

            </div>

            <div id="tagSearch" style="display:none;width:100%;position: relative">
                <!--/*@thymesVar id="tags" type="java.util.List<com.augmen.playlistr.Spotify.Tag.Tag>"*/-->
                <table style="width: 100%;position: absolute;background-color: black;padding: 10px;">
                    <tr class="heading">
                        <td>Tags</td>
                    </tr>
                    <tbody th:if="${tags != null}">
                    <tr th:each="tag, tagStat : ${tags}" class="rowContent tagRow" th:attr="data-id=${tag.id}" data-type="tag" >
                        <td>
                            <div class="displayTag big" th:style="'border: 3px solid #' + ${tag.color} + ';background-color:#' + ${tag.color}"></div>
                            <span th:text="${tag.name}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="tracks">
            <div th:replace="${tracks != null} ? ~{tracks.html :: trackTable} : ~{empty.html :: emptyFrag}">

            </div>
            <div th:if="${tracks == null && profile != null}">
                <script>fetchPlaylists()</script>
            </div>
        </div>
    </div>

</div>
<div id="rightSideBar" class="hidden"></div>

<div id="popup" style="display: none">
    <div style="border-bottom: 1px solid;" class="flexApart alignItemsCenter">
        <h2 id="popupTitle"></h2>
        <img src="images/times-circle.svg" class="icon inverted" alt="" onclick="closePopup()">
    </div>
    <div id="popupBody">

    </div>
</div>

<div style="display: none">
</div>
</body>
</html>